@font-face{
	font-family: Minecraft_AE;
	src: url(/Files/Fonts/Minecraft_AE.ttf);
	}
@font-face{
	font-family: Minecrafter_Reg;
	src: url(/Files/Fonts/Minecrafter_Reg.ttf);
}
@font-face {
	font-family: Minecraft_LOW;
	src: url(/Files/Fonts/Minecraft_LOW.ttf);
}
body{
	background-image:url(./Files/background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	}
p.serif{
	font-family:"Times New Roman",Times,serif;
	}
.Minecraft_AE{
	font-family: Minecraft_AE;
	}
.Minecrafter_Reg{
	font-family: Minecrafter_Reg;
}
.Minecraft_LOW{
	font-family: Minecraft_LOW;
}
div.AAA{
	background-color: rgba(230, 230, 230, 0.8);
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	transition: background-color 0.5s;
	}
div.AAA:hover{
	background-color: rgba(230, 230, 230, 1.0);
}
div.a{
	width: 100px;
	height: 100px;
	background: yellow;
	transition: width 2s, height 2s, transform 2s;
	position: relative;
		}
div.a:hover{
	width: 200px;
	height: 200px;
	transform: rotate(360deg);
	}
div.a>p{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}

div.b{
	background-color: #ddffff;
	padding: 15px;
	border-left: 10px solid #ccc;
	border-color: #2196F3;
	width:100px;
	transition:width 1s, background-clocr 0.5s;
	}
div.b:hover{
	width: 300px;
	background: #00ffcc;
	}
#p1 {
	background-color:rgba(255,255,0,0.5);
	}
div.c{
	padding: 20px 20px;
	width: 100px;
	background-color:rgba(255,255,0,0.5);
	border-radius: 25px;
	transition:width 1s,height 1s, background-color 0.5s;
	}
div.c>p{
	text-align: center;
	}
div.c:hover{
	width: 110px;
	background-color:rgba(204,255,51,1.0);
	}
div.center{
	margin: auto;
	}
	/*粘性固定*/
div.sticky{
	position:sticky;
	top: 0;
	padding: 5px;
}
	/*头部样式*/
div.header {
	background-color: rgb(238, 226, 60);
	padding: 10px;
	border-radius: 15px;
	text-align: center;
	}
	/* 导航条 */
div.topnav {
	overflow: hidden;
	background-color: #333;
	margin-bottom: 10px;
	border-radius: 15px
  }
   
  /* 导航链接(未选中) */
a.topnav {
	float: left;
	border-right:1px solid #ddd;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 40px;
	text-decoration: none;
	transition: background-color 0.25s;
  }
  /* 导航链接(未选中) - 修改颜色 */
a.topnav:hover{
	background-color: #ddd;
	color: black;
  }
  /* 导航链接(已选中) */
a.active {
	float: left;
	border-right:1px solid #ddd;
	display: block;
	color: #f2f2f2;
	text-align: center;
	background-color: #99cc00;
	padding: 14px 40px;
	text-decoration: none;
  }
